<div id="web-gl-canvas"></div>

<script>
    var data = <%= raw @json_data %>;
    var REPOSITORY = <%= raw @repo.to_json %>;
    $( document ).ready(function() {
      new FIIT_DV.TreeViz(data);
    });
</script>