<div id="menu">
  <h3>Menu:</h3>
  <p>
    find: <input type="text" id="name-filter">
    <button id="redraw-button">Redraw</button>
    <button id="filter-button">Filter</button>
  </p>
  <div id="legend">

  </div>
</div>

<div id="web-gl-canvas"></div>

<script>
    var data = <%= raw @json_data %>;
    var REPOSITORY = <%= raw @repo.to_json %>;
    $( document ).ready(function() {
      new FIIT_DV.TreeViz(data);
    });
</script>