<div class="container">
  <h1>Fiit DataViz</h1>
  <%= form_tag('/git-select') do %>
    <%= label_tag(:repo, "Git Repo:") %>
    <%= text_field_tag(:repo, 'https://github.com/octokit/') %>
    <%= submit_tag("Show Me") %>
  <% end %>
</div>