<!DOCTYPE html>
<html>
<head>
  <title>FiitDatavizConeTreeGit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/three.js/three.min.js"></script>
  <script src="js/lib/three-text2d.min.js"></script>
  <script src="js/lib/controls.js"></script>

  <script src="js/main.js"></script>
  <script src="js/lib/FIIT_DV/treeViz.js"></script>
  <script src="js/lib/FIIT_DV/nodes/fileNode.js"></script>
  <script src="js/lib/FIIT_DV/nodes/folderNode.js"></script>
  <script src="js/lib/FIIT_DV/core/timer.js"></script>
  <script src="js/lib/FIIT_DV/core/renderer.js"></script>
  <script src="js/lib/FIIT_DV/core/tree.js"></script>
  <script src="js/lib/FIIT_DV/loggers/MouseClickLogger.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
